.idea/
logs/
target/
.txlcn/
lib/

*.iml
*.versionsBackup
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
rebel.xml
*.bak

